<style>

<!-- ******************* -->
<!-- *  HTML elements  * -->
<!-- ******************* -->

body {
  background-color:#c8c5b3;
  color:#666633;
}
<!--
  background-color:#666633;
  color:#000000;
-->

<!-- color/font schemes -->

#cMenu {
  background-color:#000000;
  color:#ffffff;
}
#cBody {
  background-color:#c8c5b3;
  color:#ffffff;
  font-family:garamond,geneva,arial;
  font-size:11pt;
  font-weight:bolder;
}
#cByline {
  background-color:#c8c5b3;
  color:#999999;
  font-family:geneva,arial;
  font-size:9pt;
  font-weight:normal;
}


<!-- ************************************************ -->
<!-- *  links, order: link, visited, hover, active  * -->
<!-- ************************************************ -->

a:link, a:visited {
  text-decoration:none;
  color:#999999;
  background:transparent;
}
a:hover {
  text-decoration:none;
  color:#0000ff; 
  background:transparent;
}
a:active {
  text-decoration:none;
  color:#999999;
  background:transparent;
}



<!-- ********************** -->
<!-- *  division classes  * -->
<!-- ********************** -->

div.slider {
  border:none;
  position:relative;
}
div.slide {
  border:none;
  display:none;
  position:absolute;
  height:400px;
  width:400px;
  left:175px;
}
div.marker {
  border:none;
  position:absolute;
  height:30px;
}


</style>